* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d6dbf1;
}

h1 {
    // color: #eee;
}

h2 {
    // color: #fff;
}

.page {
    padding: 32px;
}

@media only screen and (min-width: 1023px) {
    .companies {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        & > div {
            flex: 40%;
        }
    }
}