header {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;
    padding: 16px;
    gap: 16px;

    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-self: center;
        background-color: white;
        padding: 16px;
        border-radius: 12px;
        box-shadow: 0 4px 16px 4px rgba(0,0,0,.075);
        font-size: .9rem;
        font-weight: bold;
        a {
            margin-inline: 8px;
            text-decoration: none;
            color: #2a2a2a;
            padding: 8px 20px;
            // color: black;
        }

        a.active {
            color: black;
            background-color: rgb(240, 246, 255);
            color: rgb(56, 97, 251);
            border-radius: 12px; 
        }
    }
}