.trending {
    padding: 16px;
    background-color: white;
    margin-bottom: 24px;
    // margin: 16px auto !important;
    border-radius: 12px;
    box-shadow: 0 4px 16px 4px rgba(0,0,0,.0875);
    width: 300px;
    align-self: center;
    
    h2 {
        margin-bottom: 8px;
    }
}